<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
GET<br>
<form method="get" action="/form_get">
<input type="text" name="userid">
<input type="text" name="userpw">
<input type="submit" value="전송">
</form><br>
<hr>

POST<br>
<form method="post" action="/form_post">
<input type="text" name="userid">
<input type="text" name="userpw">
<input type="submit" value="전송">
</form><br>
<hr>


RESTful - get/post<br>
<form method="post" action="/form_rest">
<input type="text"   name="userid">
<input type="text"   name="userpw" ><br>
<input type="button" name="add"    id="rest_button_text_text" value="text_text버튼">
<input type="button" name="add"    id="rest_button_json_text" value="json_text버튼">
<input type="button" name="add"    id="rest_button_json_json" value="json_json버튼">
<input type="button" name="add"    id="rest_button_uri" value="json_uri버튼">
</form><br>
<hr>


<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>

<script>

// id:#   class:.
// dict   {"key": 1111}
// JSON   {"key": 1111}

/* -------------------------------------------
$.ajax({
        url         : "./form_rest" ,
        method      :"get",
        data        : "hellodddd" ,  #{ a: [1,2] }
        contentType : 'application/x-www-form-urlencoded; charset=UTF-8',
        dataType    : "text",  # json  :expecting back from the server
        error       : function()   { .... },
        success     : function(){ .... },
});
------------------------------------------- */


$(document).ready(function(){

    $(document).on("click","#rest_button_text_text",function() {
        $.ajax({ url         : "./form_rest_text_text" ,
                 method      : "POST",
                 data        : {"userid":"hellodddd"} ,
                 contentType : "application/x-www-form-urlencoded; charset=UTF-8",  //내 데이터는 글씨에요
                 dataType    : "text" , //결과는 글씨로 주세요
                 error       : function(aaa){ alert(aaa) },
                 success     : function(bbb){ alert(bbb) }
        });
    });


    $(document).on("click","#rest_button_json_text",function() {
        $.ajax({ url         : "./form_rest_json_text" ,
                 method      : "POST",
                 data        : JSON.stringify({"userid":"hellodddd"}) ,
                 contentType : "application/json; charset=UTF-8",  //내 데이터는 글씨에요
                 dataType    : "text" , //결과는 글씨로 주세요
                 error       : function(aaa){ alert(aaa) },
                 success     : function(bbb){ alert(bbb) }
        });
    });


    $(document).on("click","#rest_button_json_json",function() {
        $.ajax({ url         : "./form_rest_json_json" ,
                 method      : "POST",
                 data        : JSON.stringify({"userid":"hellodddd"}) ,
                 contentType : "application/json; charset=UTF-8",  //내 데이터는 글씨에요
                 dataType    : "json" , //결과는 json로 주세요
                 error       : function(aaa){ alert(aaa) },
                 success     : function(res){
                                    console.log(res["msg"])
                                    // -------------------
                                    json_str = JSON.stringify(res)
                                    console.log(json_str)

                                    json_obj = JSON.parse(json_str)
                                    console.log(json_obj)
                                    console.log(json_obj["msg"])

                                }
        });
    });



     $(document).on("click","#rest_button_uri",function() {
        $.ajax({ url         : "./form_rest_uri/kim/111" ,
                 method      : "POST",
                 dataType    : "text" , //결과는 글씨로 주세요
                 error       : function(aaa){ alert(aaa) },
                 success     : function(bbb){ alert(bbb) }
        });
    });




});
</script>


</body>
</html>